html, body {
  height:100%;
  box-sizing: border-box;
}

div {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
}

.app{
  height: 100%;
  background: #FCECD3;
  position: relative;
  padding: 48px;
}

.layout {
  display: flex;
  flex-direction: row;
}

.workout-details-container {
  width: 800px;
}

@media only screen and (max-width: 768px) {
  .layout {
    flex-direction: column;
  }
  .workout-details-container {
    width: 400px;
  }
}

.table{
  top: 500px;
}

.sidebar {
  height: 100%;
  width: 400px;
  /*background-color: gray;*/
}

.content {
  height: 100%;
  /*background-color: white;*/
  flex-grow: 1;
  padding-left: 24px;
  padding-right: 24px;
}

.Accordion{
  align-items: center;
}

.WeightInput{
  height: 300px;
  width: 250px;
  background: white;
  padding: 15px;
  border: 2px solid #4475AF;
  border-radius: 5px;
  margin-bottom: 20px;
  /*display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;*/
  /*position: relative;*/
}

