
.app{
  height: 150rem;
  background: #FCECD3;
  display: flex;
  justify-content: space-around;
  align-items:  flex-start;

}

.table{
  top: 500px;
}

.About{
  left: 80px;
  top: 40px;
}


.Accordion{
  align-items: center;
  top: 450px;
  right: 150px;
}


.WeightInput{
  top: 40px;
  left: 120px;
  height: 300px;
  width: 250px;
  background: white;
  padding: 15px;
  border: 2px solid #4475AF;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
